# ▶ Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# ▶ Environment
.env

# ▶ Jupyter & IDE
.ipynb_checkpoints/
.vscode/
.DS_Store

# ▶ Firebase / API Key Files
maeumgyeol-refactored/config/serviceAccountKey.json
config/firebase_config.json

# ▶ Streamlit cache
.streamlit/

# ▶ Virtual environments
venv/

# ▶ Ignore all files by default (only expose folder names & README)
*
!*/
!README.md
!LICENSE
!.gitignore


